# cargo install git-delta

[user]
  email         = my-name@email.com
  name          = my-name

[color]
  ui            = auto

[core]
  editor        = emacs
  autocrlf      = input
  longpaths     = true
  pager         = delta

[credential]
  helper        = store

[delta]
  navigate      = true
  light         = true
  side-by-side  = true
  line-numbers  = true
  features      = decorations

[diff]
  colorMoved    = default

[interactive]
  diffFilter    = delta --color-only --features=interactive

[merge]
  conflictstyle = diff3
  ff            = only

[pull]
  rebase        = true

[alias]
  ll            = log --graph --pretty=oneline
